html {
    scroll-behavior: smooth;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-decoration-color: #333;
}

.dark-mode {
    background: #001024;
    color: #fafafa;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.hero-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.profile-info>h1 {
    margin-top: 50px;
}

.profile-info>h4 {
    margin-bottom: 5rem;
    margin-top: -20px;
}

.profile-img>img {
    border-radius: 25px;
    object-fit: cover;
    }

.contact {
    display: flex;
    align-items: center;
    column-gap: 25px;
    margin-bottom: 16px;
}

.contact>img {
    width: 30px;
}

h2 {
    margin-bottom: 10px;
}

.hr {
    width: 100%;
    height: 2px;
    background-color: #d9d9d9;
}

.skills img {
    height: 50px;
    margin: 5px;
}

.skills {
    display: inline-block;
    width: 17.5%;
    padding: 30px 10px;
    margin: 2%;
    text-align: center;
    box-shadow: 0px 4px 23px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: white;
}

.skills>p {
    color: #760376;
}

.projects img {
    height: 60px;
    margin: 5px;
}

.projects {
    display: inline-block;
    width: 17.5%;
    padding: 30px 10px;
    margin: 2%;
    text-align: center;
    box-shadow: 0px 4px 23px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: white;
}

.social-media img {
    height: 30px;
    margin-right: 15px;
}

.social-media {
    align-content: center;
    margin-top: 50px;
    margin-left: 42%;
    margin-bottom: 2rem;
}

.buttons {
    margin-left: 20px;
}

.button1 {
    display: inline-block;
    border-radius: 50px;
    height: 30px;
    width: 45%;
    border: 3px solid #000;
    margin-top: 30px;
    background-color: #000;
    color: white;
    cursor: pointer;
}

.button2 {
    display: inline-block;
    border-radius: 50px;
    height: 30px;
    width: 45%;
    border: 3px solid #000;
    margin-top: 30px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.button1:hover {
    background-color: #fff;
    color: #000;
    border: 3px solid #000;
}

.button2:hover {
    background-color: #000;
    color: #fff;
    border: 3px solid #000;
}


.arrowUp {
    position: fixed;
    right: 5%;
    bottom: 10px;
    width: 35px;
    height: 40px;
    border-radius: 25%;
    border: none;
    font-size: 18px;
    background-color: rgb(50, 13, 214);
    color: #fff;
    outline: none;
    cursor: pointer;
}

.arrowUp:hover,
.toggle:focus {
    cursor: pointer;
    background-color: rgb(32, 31, 31);
    color: #fff;
    transform: scale(1.2);
}

.toggle-mode {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    right: 5%;
}

.toggle {
    background: rgba(0, 93, 93, 0.5);
    height: 30px;
    width: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    transition: 0.5 ease;
}

.toggle:hover,
.toggle:focus {
    cursor: pointer;
    transform: scale(1.2);
}

.toggle>i {
    font-size: 30px;
    position: absolute;
}

.fa-sun {
    color: gold;
    opacity: 0;
}

.fa-moon {
    color: #000;
}

.checkbox {
    display: none;
}

.checkbox:checked~.toggle .fa-sun {
    opacity: 1;
}

.checkbox:checked~.toggle .fa-moon {
    opacity: 0;
}

@media only screen and (min-width: 650px) {
    .hero-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: unset;
    }
}

@media only screen and (max-width: 800px) {

    .skills {
        width: 90%;
    }

    .projects {
        width: 90%;
    }

    .social-media {
        margin-left: 45px;
    }
}